version: '3.3'
services:

    spring-backend:
        image: spring-backend:1.0
        depends_on:
            - postgres
        ports:
          - ${SERVER_PORT}:${SERVER_PORT}
        environment:
          SPRING_ACTIVE_PROFILE: ${SPRING_ACTIVE_PROFILE}
          HOST: ${HOST}
          SERVER_PORT: ${SERVER_PORT}
          DEFAULT_USER: ${DEFAULT_USER}
          DEFAULT_PASSWORD: ${DEFAULT_PASSWORD}
          DEFAULT_EMAIL: ${DEFAULT_EMAIL}
          TOKEN_ENCRYPTION_KEY: ${TOKEN_ENCRYPTION_KEY}
          POSTGRES_PORT: ${POSTGRES_PORT}
          POSTGRES_USER: ${POSTGRES_USER}
          POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRES_DB: ${POSTGRES_DB}
          SMTP_HOST: ${SMTP_HOST}
          SMTP_PORT: ${SMTP_PORT}
          SMTP_USER: ${SMTP_USER}
          SMTP_PASSWORD: ${SMTP_PASSWORD}
          CERT_PASSWORD: ${CERT_PASSWORD}

    postgres:
        image: sb-postgres:1.0
        ports:
            - ${POSTGRES_PORT}:5432
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - postgres-data:/var/lib/postgresql/data

volumes:
    postgres-data:
